<%- include('partials/header') %>
<header>
    <div>

<img src="/FCKEN.png" alt="">


    </div>
    <div class="headings">
        <h2>Fried chicken recipes</h2>
        <h3>By Nigga Man</h3>
        <a href="/list" class="btn">View recipes</a>

    </div>
    





</header>
<%- include('partials/footer') %>