<%- include('partials/header') %>


<ul class="recipes">
  <li class="recipe">
    <img src="/FCKEN.png" alt="Fried Chicken recipe icon">
    <h4>Chicken leg (standard)</h4>
    <p>Chicken legs, Marinade, Flour mixture, Vegetable oil</p>
  </li>
  <li class="recipe">
    <img src="/FCKEN.png"" alt="Fried Chicken recipe icon">
    <h4>Fried Turkey</h4>
    <p>Turkey legs, Extra Marinade, other standards</p>
  </li>
  <li class="recipe">
    <img src="/FCKEN.png"" alt="Fried Chicken recipe icon">
    <h4>Spicy Chick</h4>
    <p>Chicken legs, Spicy marinade, Flour with pepper powder</p>
  </li>
  <li class="recipe">
    <img src="/FCKEN.png"" alt="Fried Chicken recipe icon">
    <h4>Hot ones</h4>
    <p>Chicken legs, Marinated hot ones sauce, Flour</p>
  </li>
  <li class="recipe">
    <img src="/spicyChicken.png" alt="Fried Chicken recipe icon">
    <h4>Death Wish</h4>
    <p>Chicken wings, Pure Evil sauce, Pepper powder, Jalapeño powder,Flour</p>
  </li>
  <li class="recipe">
    <img src="/wings.png"" alt="Fried Chicken recipe icon">
    <h4>Drought Dish</h4>
    <p>Chicken legs, Extra salted marinade, Flour</p>
  </li>
    <li class="recipe">
    <img src="/wings.png"" alt="Fried Chicken recipe icon">
    <h4>Soft Wings</h4>
    <p>Chicken wings, Marinated caramel, Flour</p>
  </li>
  <li class="recipe">
    <img src="/Marinade.png"" alt="Fried Chicken recipe icon">
    <h4>Marinade</h4>
    <p>Buttermilk, Water, Salt, Pepper, Other seasonings</p>
  </li>
  <li class="recipe">
    <img src="/Flour.png"" alt="Fried Chicken recipe icon">
    <h4>Flour Mixture</h4>
    <p>All-purpose flour, Salt, Pepper, Other seasonings</p>
  </li>
</ul>



<%- include('partials/footer') %>